{% extends 'base.html.twig' %}

{% block content %}
    <div class="card card-bordered card-full">
        <div class="card-inner border-bottom">
            <div class="card-title-group">
                <div class="card-title"><h6 class="title">Tous les utilisateurs</h6></div>
                <div class="card-tools">
                    <button class="btn btn-primary" title="Ajouter">
                        <em class="icon ni ni-plus"></em>
                        Ajouter
                    </button>
                </div>
            </div>
        </div>

        <div class="card card-bordered card-preview">
            <table class="table table-orders">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>email</th>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr class="tb-odr-item">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.surname }}</td>
                        <td>{{ item.email }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2">
        // pagination
    </div>
{% endblock %}
