{% extends 'base.html.twig' %}
{% block title 'Ajouter un créneau' %}

{% block content %}
    <div class="card card-bordered card-full">
        <div class="card-inner border-bottom">
            <div class="card-title-group">
                <div class="card-title"><h6 class="title">Ajouter un créneau</h6></div>
            </div>
        </div>

        <div class="card card-bordered card-preview">
            <div class="card-body">
                {% include('admin/_form.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
