<div class="nk-sidebar nk-sidebar-fixed is-theme" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="" class="logo-link nk-sidebar-logo">
                École
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <span role="button" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                        class="ni ni-arrow-left"></em></span>
            <span role="button" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                  data-target="sidebarMenu">
                <em class="ni ni-arrow-left"></em>
            </span>
        </div>
    </div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-item">
                        <a href="{{ path('admin_user_index') }}" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                            <span class="nk-menu-text">Utilisateurs</span>
                        </a>
                    </li>
                    <li class="nk-menu-item">
                        <a href="{{ path('admin_course_index') }}" class="nk-menu-link" data-original-title="" title="">
                            <span class="nk-menu-icon"><em class="icon ni ni-book"></em></span>
                            <span class="nk-menu-text">Cours</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
