<div class="nk-sidebar nk-sidebar-fixed is-theme" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="" class="logo-link nk-sidebar-logo">
                École
            </a>
        </div>
    </div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    {# on sépare les liens en fonction du role de l'utilisateur #}
                    {% if is_granted('ROLE_ADMIN', app.user) %}
                        <li class="nk-menu-item">
                            <a href="{{ path('admin_user_index') }}" class="nk-menu-link" data-original-title="" title="">
                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                <span class="nk-menu-text">Utilisateurs</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="{{ path('admin_course_index') }}" class="nk-menu-link" data-original-title="" title="">
                                <span class="nk-menu-icon"><em class="icon ni ni-book"></em></span>
                                <span class="nk-menu-text">Cours</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nk-menu-item">
                            <a href="{{ path('student_course_index') }}" class="nk-menu-link" data-original-title="" title="">
                                <span class="nk-menu-icon"><em class="icon ni ni-book"></em></span>
                                <span class="nk-menu-text">Mes cours</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="{{ path('student_contact_index') }}" class="nk-menu-link" data-original-title="" title="">
                                <span class="nk-menu-icon"><em class="icon ni ni-emails"></em></span>
                                <span class="nk-menu-text">Contact</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
